@use "sass:map";
@import "styles/styles";
@include site-fonts;
@include wysiwyg;

html {
	height: 100%;
	box-sizing: border-box;
	font-size: $font-size-over-min;

	@each $key, $val in $site-breakpoints {
		@media (min-width: $val) {
			font-size: map.get($font-size, $key);
		}
	}
}

body {
	display: grid;
	height: 100%;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: auto 1fr auto;
	margin: 0;
	padding: 0;
	background: $body-background;
	font-family: $body-font-family;
	color: $body-font-color;
	font-weight: 400;

	& * {
		box-sizing: border-box;
	}
}

header {
	grid-area: header;
	z-index: 100;
}

main {
	grid-area: main;
	z-index: 50;
}

footer {
	grid-area: footer;
	z-index: 50;
}

.grecaptcha-badge {
	z-index: 10000;
}
