@use "sass:map";
@import "style";
@include site-fonts;
@include wysiwyg;

html {
	height: 100%;
	overflow-y: visible;
	box-sizing: border-box;
	font-size: $font-size-over-max;

	@each $key, $val in $site-breakpoints {
		@media (max-width: $val) {
			font-size: map.get($font-size, $key);
		}
	}
}

body {
	display: flex;
	height: 100%;
	margin: 0;
	padding: 0;
	background: $body-background;
	font-family: $body-font-family;
	color: $body-font-color;
	font-weight: 400;
	min-width: $content-width-min;

	& * {
		box-sizing: border-box;
	}
}

main {
	//
}
