{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
	],
	"globals": {},
    "parser": "@typescript-eslint/parser",
	"parserOptions": {
		"env": "browser",
		"ecmaVersion": "latest",
		"requireConfigFile": false,
		"sourceType": "module",
		"ecmaFeatures": {
			"modules": true
		}
	},
	"plugins": [],
	"rules": {
		"no-console": 1,
		"prefer-const": 1,
        "quotes": ["error", "double"],
        "indent": ["error", 4]
	}
}
