{
    "tabWidth": 4,
    "singleQuote": false,
    "endOfLine": "auto",
    "semi": true,
    "overrides": [
        {
            "files": "*.scss",
            "options": {
              "parser": "scss"
            }
        },
        {
            "files": "*.css",
            "options": {
              "parser": "css"
            }
        },
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": "*.js",
            "options": {
                "parser": "babel"
            }
        }
    ]
}
