.l-content-container {
    @include content-container;

    width: 100%;
    margin: 0 auto;
}

.l-content-container-left {
    @include content-container("left");

    width: 100%;
}

.l-main-container {
    @include main-container;
}
