// Пользовательские переменные

// Цвета, по возможности желательно придерживаться этого формата
$color-white: #fff;
$color-black: #000;
$color-red: #c04c36;
$color-blue: #245b8f;
$color-turquoise: #04a7b5;
$color-bg-site: #f9f9fa;

// минималка и максималка для контента сайта (может не совпадать с брекпоинтами)
$content-width-min: 320px; // минимальная ширина сайта
$content-width-max: 1920px; // максимальная ширина сайта

$site-breakpoints: (
	min: 320px,
	mobile: 720px,
	middle: 1600px,
	full: 1920px,
);

// отступ контента СТРАНИЦЫ для разных брекпоинтов
// работают через media-запрос max-width
$content-offsets: (
	min: 15px,
	mobile: 15px,
	middle: 50px,
	full: 140px,
);

$content-offset-over-max: 140px;

// отступ для MAIN для разных брекпоинтов
// работают через media-запрос max-width
$main-offsets: (
	min: 0,
	mobile: 10px,
	middle: 25px,
	full: 100px,
);

$main-offset-over-max: 100px;

// отступ для grid-container и grid-cell для разных брекпоинтов
// работают через media-запрос max-width
$gutter-size: (
	min: 5px,
	mobile: 7.5px,
	middle: 15px,
	full: 25px,
);

$gutter-size-over-max: 25px;

// базовый размер ширифта для разных брекпоинтов
$font-size: (
	min: 20px,
	mobile: 20px,
	middle: 20px,
	full: 20px,
);

$font-size-over-max: 20px;

$header-height: 90px;
$header-height-mobile: 60px;

$global-font-size: 20px;

$body-background: $color-white;
$body-font-color: $color-black;
$body-font-family: "Roboto", "Helvetica", sans-serif;
$body-font-size: 20px;

// Брекпоинты по ширине
$breakpoints-width: (
	"zero": 0,
);

// Брекпоинты по высоте
$breakpoints-height: (
	"zero": 0,
);
