// Пользовательские переменные

// Цвета, по возможности желательно придерживаться этого формата
$color-white: #fff;
$color-black: #000;
$color-red: #c04c36;
$color-blue: #245b8f;
$color-turquoise: #04a7b5;
$color-bg-site: #f9f9fa;

// минималка и максималка для контента сайта (может не совпадать с брекпоинтами)
$content-width-min: 320px; // минимальная ширина сайта
$content-width-max: 1920px; // максимальная ширина сайта

$site-breakpoints: (
	min: 320px,
	mobile: 720px,
	middle: 1600px,
	full: 1920px,
);

// паддинг контента СТРАНИЦЫ для разных брекпоинтов
// работают через max-width
$content-padding: (
	min: 0.75rem,
	mobile: 0.75rem,
	middle: 2.5rem,
	full: 7rem,
);

$content-padding-over-max: 7rem;

// паддинг для MAIN для разных брекпоинтов
// работают через max-width
$main-padding: (
	min: 0,
	mobile: 0.5rem,
	middle: 1.25rem,
	full: 5rem,
);

$main-padding-over-max: 5rem;

// отступ для grid-container и grid-cell для разных брекпоинтов
// работают через max-width
$gutter-size: (
	min: 5px,
	mobile: 7.5px,
	middle: 15px,
	full: 25px,
);

$gutter-size-over-max: 25px;

// базовый размер ширифта для разных брекпоинтов
$font-size: (
	min: 20px,
	mobile: 20px,
	middle: 20px,
	full: 20px,
);

$font-size-over-max: 20px;

$header-height: 4.5rem;
$header-height-mobile: 3rem;

$global-font-size: 20px;
$global-lineheight: 1.3;

$body-background: $color-white;
$body-font-color: $color-black;
$body-font-family: "Roboto", "Helvetica", sans-serif;
$body-font-size: 1rem;

// Брекпоинты по ширине
$breakpoints-width: (
	"zero": 0,
);

// Брекпоинты по высоте
$breakpoints-height: (
	"zero": 0,
);
