// Главные функции, которые нужны начиная с конфига.

// Чистит значение $num от единиц измерения
@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

// возвращает массив в элементами в обратном порядке
@function map-reverse($map) {
	$result: null;

	@if type-of($map) == "map" {
		$keys: map.keys($map);
		$map-reversed: ();

		@for $i from length($keys) through 1 {
			$map-reversed: map.merge(
				$map-reversed,
				(list.nth($keys, $i): map.get($map, list.nth($keys, $i)))
			);
		}

		@if type-of($map-reversed) == "map" {
			$result: $map-reversed;
		}
	}

	@return $result;
}

/*
Функция для перевода значения $value в пикселях в значение в ремах на основе $base-value
*/
@function px-to-rem($value, $base-value: $global-font-size) {
	$value: strip-unit($value) / strip-unit($base-value);

	@if ($value > 0) {
		$value: $value * 1rem;
	}

	@return $value;
}

/*
Функция для перевода значения $value в ремах в значение в пикселях на основе $base-value
*/
@function rem-to-px($value, $base-value: $global-font-size) {
	$value: strip-unit($value) * strip-unit($base-value);

	@if ($value > 0) {
		$value: $value * 1px;
	}

	@return $value;
}
