@mixin wysiwyg() {
	a {
		text-decoration: none;
	}

	h1,
	.h1 {
		margin: 0;
		padding: 0;
	}

	h2,
	.h2 {
		margin: 0;
		padding: 0;
	}

	h3,
	.h3 {
		margin: 0;
		padding: 0;
	}

	h4,
	.h4 {
		margin: 0;
		padding: 0;
	}

	h5,
	.h5 {
		margin: 0;
		padding: 0;
	}

	p,
	.p {
		margin: 0;
		padding: 0;
		font-size: 16px;
		line-height: 24px;
	}
}
