@mixin wysiwyg() {
    h1,
    .c-h1 {
        margin: 0;
        padding: 0;
        font-size: 25px;
        line-height: 30px;
        font-weight: 800;

        @include for-width("mobile") {
            font-size: 30px;
            line-height: 40px;
        }

        @include for-width("middle") {
            font-size: 40px;
            line-height: 50px;
        }

        @include for-width("middle2") {
            font-size: 50px;
            line-height: 75px;
        }
    }

    h2,
    .c-h2 {
        margin: 0;
        padding: 0;
        font-size: 25px;
        line-height: 35px;
        font-weight: 500;

        @include for-width("mobile") {
            font-size: 22px;
            line-height: 30px;
        }

        @include for-width("middle") {
            font-size: 30px;
            line-height: 45px;
        }
    }

    h3,
    .c-h3 {
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;

        @include for-width("mobile") {
            font-size: 22px;
            line-height: 22px;
        }

        @include for-width("middle") {
            font-size: 26px;
            line-height: 26px;
        }
    }

    h4,
    .c-h4 {
        margin: 0;
        padding: 0;
        font-size: 18px;
        line-height: 25px;
        font-weight: 500;

        @include for-width("mobile") {
            font-size: 20px;
            line-height: 30px;
        }
    }

    a,
    .c-a {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 26px;
        text-decoration: underline;
        color: $color-black;

        &:hover {
            text-decoration: none;
        }
    }

    p,
    .c-p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 24px;
    }

    .c-little {
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 21px;
    }

    // Отступы
    .c-margin {
        &-top {
            &-block {
                margin-top: 100px;
            }

            &-title {
                margin-top: 30px;
            }
        }

        &-bottom {
            &-block {
                margin-bottom: 100px;
            }

            &-title {
                margin-bottom: 30px;
            }
        }
    }

    .c-content {
        p,
        img {
            margin-bottom: 20px;
        }

        h1 {
            margin-bottom: 40px;
        }

        h2,
        h3,
        h4,
        h5 {
            margin-bottom: 30px;
        }

        ol,
        ul {
            padding: 0;
            list-style-position: inside;
        }
    }
}
