.c-content {
	p,
	.p {
		margin-bottom: 1rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5 {
		margin-bottom: 30px;
	}

	.image {
		margin: 0 auto;
	}

	.image-style-side {
		float: right;
		margin-left: 1rem;
		max-width: 50%;
	}

	.image-style-align-left {
		float: left;
		margin-right: 1rem;
		max-width: 50%;
	}

	.image-right {
		margin: 0 0 0 auto;
	}
}

body {
	background-color: red;
}
